<!-- profile header wrapper -->
<div class="child-profile-header-wrapper">
    <div class="child-profile-header-inner-1">
        <div class="child-profile-header-inner-2">
            <div class="child-profile-header-inner-3">
                <!-- profile image -->
                <div class="child-profile-image-outer">
                    <div class="child-profile-image-inner">
                        <div class="child-profile-image-inner-2" data-e2e-class="profile-image" data-test-editable="true">
                            <img class="child-profile-image" src="{{ page.ChildSummary.Child.Image.OfflineUrl }}" />
                        </div>
                    </div>
                </div>
                <div direction="column" class="child-profile-text-outer">
                    <div class="child-profile-text-header-outer">
                        <div class="child-profile-text-header-inner-1">
                            <div class="child-profile-text-header-inner-2">
                                <h2 class="child-profile-text-header-name" data-inline="false" color="text" type="Title">
                                    {{ page.ChildSummary.Child.Name.FullName }}
                                </h2>
                                <small class="child-profile-text-header-class" data-inline="false" disabled="" color="text" type="Caption">
                                    {{ page.ChildSummary.Institution.Title}} , {{ page.ChildSummary.Group.Title }} <!-- , !!!AGE!!! -->
                                </small>
                            </div>
                        </div>
                    </div>
                    <!-- tab strip -->
                    <div class="child-profile-tabs-outer" data-intercom-target="Child profile - tabs overview">
                        <a
                            class="child-profile-tab-item child-profile-tab-first"
                            _href="#/account/childProfile/[child id]/activity"
                            data-e2e-id="TAB-activity"
                            data-intercom-target="Tab link-activity"
                            data-is-active="false">
                            <p class="child-profile-tab-item" data-inline="false" color="text" type="Body">
                                Activity
                            </p>
                        </a>
                        <a
                            class="child-profile-tab-item"
                            _href="#/account/childProfile/[child id]/about"
                            data-e2e-id="TAB-about"
                            data-intercom-target="Tab link-about"
                            data-is-active="false">
                            <p class="child-profile-tab-item" data-inline="false" color="text" type="Body">
                                About
                            </p>
                        </a>
                        <a
                            class="child-profile-tab-item"
                            _href="#/account/childProfile/[child id]/family"
                            data-e2e-id="TAB-family"
                            data-intercom-target="Tab link-family"
                            data-is-active="false">
                            <p class="child-profile-tab-item" data-inline="false" color="text" type="Body">
                                Family
                            </p>
                        </a>
                        <a
                            class="child-profile-tab-item"
                            _href="#/account/childProfile/[child id]/childProfileLearningJourney"
                            data-e2e-id="TAB-journey"
                            data-intercom-target="Tab link-journey"
                            data-is-active="false">
                            <p class="child-profile-tab-item" data-inline="false" color="text" type="Body">
                                Journey
                            </p>
                        </a>
                        <a
                            class="child-profile-tab-item child-profile-tab-item-selected child-profile-tab-last"
                            _href="#/account/childProfile/[child id]/childProfileNotes"
                            data-e2e-id="TAB-notes"
                            data-intercom-target="Tab link-notes" data-is-active="true">
                            <p class="child-profile-tab-item-selected" data-inline="false" color="text" type="Body">
                                Notes
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end profile header wrapper -->
