{% render "Liquid\\Layout\\layout-header.liquid", page: page %}

<div id="content" class="shouldScrollContent">
    <div id="accountSubrouteContentId">
        <div class="accountSubRouteContentId-inner-1">
            <div class="column small-12">
                <div class="redux-infinite-scroll" style="height: 100%;">
                    <div class="newsfeed-redux-infinite-scroll-inner-1">
                        <div data-intercom-target="News feed" class="sc-brCpQf enfHpY">
                            <div class="newsfeed-redux-infinite-scroll-first-row"></div>
                            <div id="feed" class="sc-hmEbca eNhyjK">

<!-- https://shopify.github.io/liquid/basics/introduction/ -->
{% for feedItem in repository.FeedItems %}

{% comment %} daycare checkin {% endcomment %}
{% assign continue_for = false %}
{% case feedItem.SystemPostTypeClass %}
{% when "Daycare.Checkin:CheckedIn", "Daycare.Checkin:CheckedOut" %}
{% assign continue_for = true %}
{% render "Liquid\\Panels\\story-panel-checkin.liquid", feedItem: feedItem %}
{% endcase %}
{% if continue_for %}
{% continue %}
{% endif %}

{% comment %} observation {% endcomment %}
{% if feedItem.Embed.Type == "Observation" %}
{% assign observation = repository.Observations | where: "Id", feedItem.Embed.ObservationId | first %}
{% render "Liquid\\Panels\\story-panel-observation.liquid", observation: observation %}
{% continue %}
{% endif %}

{% comment %} story {% endcomment %}
{% render "Liquid\\Panels\\story-panel-news-item.liquid", feedItem: feedItem %}

{% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% render "Liquid\\Layout\\layout-footer.liquid", sidebr: sidebar, page: page %}
