@font-face {
    font-family:Matter;
    font-style:normal;
    font-weight:700;
    src:url(../fonts/Matter/Matter-Bold.eot);
    src:local("Matter Bold"),
    local("Matter-Bold"),
    url(../fonts/Matter/Matter-Bold.woff2) format("woff2"),
    url(../fonts/Matter/Matter-Bold.woff) format("woff"),
    url(../fonts/Matter/Matter-Bold.ttf) format("truetype")
}

@font-face {
    font-family:Matter;
    font-style:italic;
    font-weight:700;
    src:url(../fonts/Matter/Matter-BoldItalic.eot);
    src:local("Matter Bold Italic"),
    local("Matter-BoldItalic"),
    url(../fonts/Matter/Matter-BoldItalic.woff2) format("woff2"),
    url(../fonts/Matter/Matter-BoldItalic.woff) format("woff"),
    url(../fonts/Matter/Matter-BoldItalic.ttf) format("truetype")
}

@font-face {
    font-family:Matter;
    font-style:normal;
    font-weight:600;
    src:url(../fonts/Matter/Matter-SemiBold.eot);
    src:local("Matter SemiBold"),
    local("Matter-SemiBold"),
    url(../fonts/Matter/Matter-SemiBold.woff2) format("woff2"),
    url(../fonts/Matter/Matter-SemiBold.woff) format("woff"),
    url(../fonts/Matter/Matter-SemiBold.ttf) format("truetype")
}

@font-face{
    font-family:Matter;
    font-style:italic;
    font-weight:500;
    src:url(../fonts/Matter/Matter-MediumItalic.eot);
    src:local("Matter Medium Italic"),
    local("Matter-MediumItalic"),
    url(../fonts/Matter/Matter-MediumItalic.woff2) format("woff2"),
    url(../fonts/Matter/Matter-MediumItalic.woff) format("woff"),
    url(../fonts/Matter/Matter-MediumItalic.ttf) format("truetype")
}

@font-face{
    font-family:Matter;
    font-style:normal;
    font-weight:900;
    src:url(../fonts/Matter/Matter-Heavy.eot);
    src:local("Matter Heavy"),
    local("Matter-Heavy"),
    url(../fonts/Matter/Matter-Heavy.woff2) format("woff2"),
    url(../fonts/Matter/Matter-Heavy.woff) format("woff"),
    url(../fonts/Matter/Matter-Heavy.ttf) format("truetype")
}

@font-face{
    font-family:Matter;
    font-style:italic;
    font-weight:300;
    src:url(../fonts/Matter/Matter-LightItalic.eot);
    src:local("Matter Light Italic"),
    local("Matter-LightItalic"),
    url(../fonts/Matter/Matter-LightItalic.woff2) format("woff2"),
    url(../fonts/Matter/Matter-LightItalic.woff) format("woff"),
    url(../fonts/Matter/Matter-LightItalic.ttf) format("truetype")
}

@font-face{
    font-family:Matter;
    font-style:normal;
    font-weight:500;
    src:url(../fonts/Matter/Matter-Medium.eot);
    src:local("Matter Medium"),
    local("Matter-Medium"),
    url(../fonts/Matter/Matter-Medium.woff2) format("woff2"),
    url(../fonts/Matter/Matter-Medium.woff) format("woff"),
    url(../fonts/Matter/Matter-Medium.ttf) format("truetype")
}

@font-face{
    font-family:Matter;
    font-style:italic;
    font-weight:600;
    src:url(../fonts/Matter/Matter-SemiBoldItalic.eot);
    src:local("Matter SemiBold Italic"),local("Matter-SemiBoldItalic"),
    url(../fonts/Matter/Matter-SemiBoldItalic.woff2) format("woff2"),
    url(../fonts/Matter/Matter-SemiBoldItalic.woff) format("woff"),
    url(../fonts/Matter/Matter-SemiBoldItalic.ttf) format("truetype")
}

@font-face{
    font-family:Matter;
    font-style:italic;
    font-weight:900;
    src:url(../fonts/Matter/Matter-HeavyItalic.eot);
    src:local("Matter Heavy Italic"),
    local("Matter-HeavyItalic"),
    url(../fonts/Matter/Matter-HeavyItalic.woff2) format("woff2"),
    url(../fonts/Matter/Matter-HeavyItalic.woff) format("woff"),
    url(../fonts/Matter/Matter-HeavyItalic.ttf) format("truetype")
}

@font-face{
    font-family:Matter;
    font-style:normal;
    font-weight:300;
    src:url(../fonts/Matter/Matter-Light.eot);
    src:local("Matter Light"),
    local("Matter-Light"),
    url(../fonts/Matter/Matter-Light.woff2) format("woff2"),
    url(../fonts/Matter/Matter-Light.woff) format("woff"),
    url(../fonts/Matter/Matter-Light.ttf) format("truetype")
}

@font-face{
    font-family:Matter;
    font-style:normal;
    font-weight:400;
    src:url(../fonts/Matter/Matter-Regular.eot);
    src:local("Matter Regular"),
    local("Matter-Regular"),
    url(../fonts/Matter/Matter-Regular.woff2) format("woff2"),
    url(../fonts/Matter/Matter-Regular.woff) format("woff"),
    url(../fonts/Matter/Matter-Regular.ttf) format("truetype")
}

@font-face{
    font-family:Matter;
    font-style:italic;
    font-weight:400;
    src:url(../fonts/Matter/Matter-RegularItalic.eot);
    src:local("Matter Regular Italic"),
    local("Matter-RegularItalic"),
    url(../fonts/Matter/Matter-RegularItalic.woff2) format("woff2"),
    url(../fonts/Matter/Matter-RegularItalic.woff) format("woff"),
    url(../fonts/Matter/Matter-RegularItalic.ttf) format("truetype")
}

@font-face{
    font-display:swap;
    font-family:Inter;
    font-style:normal;
    font-weight:400;
    src:url(../fonts/Inter/Inter-Regular.woff2?v=3.19) format("woff2"),
    url(../fonts/Inter/Inter-Regular.woff?v=3.19) format("woff")
}

@font-face{
    font-display:swap;
    font-family:Inter;
    font-style:italic;
    font-weight:400;
    src:url(../fonts/Inter/Inter-Italic.woff2?v=3.19) format("woff2"),
    url(../fonts/Inter/Inter-Italic.woff?v=3.19) format("woff")
}

@font-face{
    font-display:swap;
    font-family:Inter;
    font-style:normal;
    font-weight:500;
    src:url(../fonts/Inter/Inter-Medium.woff2?v=3.19) format("woff2"),
    url(../fonts/Inter/Inter-Medium.woff?v=3.19) format("woff")
}

@font-face{
    font-display:swap;
    font-family:Inter;
    font-style:italic;
    font-weight:500;
    src:url(../fonts/Inter/Inter-MediumItalic.woff2?v=3.19) format("woff2"),
    url(../fonts/Inter/Inter-MediumItalic.woff?v=3.19) format("woff")
}

@font-face{
    font-display:swap;
    font-family:Inter;
    font-style:normal;
    font-weight:600;
    src:url(../fonts/Inter/Inter-SemiBold.woff2?v=3.19) format("woff2"),
    url(../fonts/Inter/Inter-SemiBold.woff?v=3.19) format("woff")
}

@font-face{
    font-display:swap;
    font-family:Inter;
    font-style:italic;
    font-weight:600;
    src:url(../fonts/Inter/Inter-SemiBoldItalic.woff2?v=3.19) format("woff2"),
    url(../fonts/Inter/Inter-SemiBoldItalic.woff?v=3.19) format("woff")
}

@font-face{
    font-display:swap;
    font-family:Inter;
    font-style:normal;
    font-weight:700;
    src:url(../fonts/Inter/Inter-Bold.woff2?v=3.19) format("woff2"),
    url(../fonts/Inter/Inter-Bold.woff?v=3.19) format("woff")
}

@font-face{
    font-display:swap;
    font-family:Inter;
    font-style:italic;
    font-weight:700;
    src:url(../fonts/Inter/Inter-BoldItalic.woff2?v=3.19) format("woff2"),
    url(../fonts/Inter/Inter-BoldItalic.woff?v=3.19) format("woff")
}

@font-face{
    font-family:Material Symbols Rounded;
    font-style:normal;
    src:url(../fonts/Material-Symbols/Material-Symbols-Rounded-Wght-300.woff2?v=3) format("woff2")
}
