.topbar-main-outer {
    --sat: env(safe-area-inset-top);
    --sab: env(safe-area-inset-bottom);
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: Matter,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    font-size: 16px;
    font-variant-ligatures: no-contextual;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    z-index: 31;
    /* top: 0px; */
    /* bh download bannerbanner */
    top: calc(0px + var(--bhdownload-banner-height));
    right: 0px;
    box-sizing: border-box;
    box-shadow: rgba(18, 10, 32, 0.08) 0px -1px 0px 0px inset;
    color: white;
    padding-top: 0px;
    width: calc(100% - 64px);
    transition: width 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
    will-change: width;
    background-color: rgb(255, 255, 255);
}

.topbar-main-inner {
    --sat: env(safe-area-inset-top);
    --sab: env(safe-area-inset-bottom);
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: Matter,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    font-size: 16px;
    font-variant-ligatures: no-contextual;
    font-weight: 400;
    line-height: 24px;
    color: white;
    margin-right: 0px;
    flex-shrink: 1;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 84px;
    width: inherit;
    /* bh download bannerbanner */
    top: 0px;
}

.topbar-notification-center {
    --sat: env(safe-area-inset-top);
    --sab: env(safe-area-inset-bottom);
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: Matter,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    font-size: 16px;
    font-variant-ligatures: no-contextual;
    font-weight: 400;
    line-height: 24px;
    color: white;
    padding-right: 32px;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.topbar-title-panel-outer {
    --sat: env(safe-area-inset-top);
    --sab: env(safe-area-inset-bottom);
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: Matter,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    font-size: 16px;
    font-variant-ligatures: no-contextual;
    font-weight: 400;
    line-height: 24px;
    color: white;
    padding-left: 20px;
    overflow: hidden;
}

.topbar-title-panel-inner {
    --sat: env(safe-area-inset-top);
    --sab: env(safe-area-inset-bottom);
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: Matter,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    font-size: 16px;
    font-variant-ligatures: no-contextual;
    font-weight: 400;
    line-height: 24px;
    color: white;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.topbar-title-icon-outer {
    --sat: env(safe-area-inset-top);
    --sab: env(safe-area-inset-bottom);
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: Matter,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    font-size: 16px;
    font-variant-ligatures: no-contextual;
    font-weight: 400;
    line-height: 24px;
    color: white;
    margin-right: 8px;
}

.topbar-title-icon-inner {
    --sat: env(safe-area-inset-top);
    --sab: env(safe-area-inset-bottom);
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: Matter,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    font-size: 16px;
    font-variant-ligatures: no-contextual;
    font-weight: 400;
    line-height: 24px;
    color: white;
    width: 24;
    height: 24;
    overflow: hidden;
}

.topbar-title-heading {
    --sat: env(safe-area-inset-top);
    --sab: env(safe-area-inset-bottom);
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-variant-ligatures: no-contextual;
    text-rendering: optimizeLegibility;
    color: rgb(18, 10, 32);
    font-family: Matter, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: normal;
    letter-spacing: -0.01em;
    display: block;
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
