<html>
    <head>
        <base href="../..">
        <meta property="og:title" content="Bright Horizons">
        <meta property="og:image" content="/img/bright-horizons/og-meta-image-rectangular.png">
        <meta property="og:description" content="Bright Horizons Family Solutions offers many solutions from childcare to emergency child and adultcare. The company has a portfolio of over 200 nurseries and preschools in England, Scotland and Ireland. Talk to us about 30 hours funded childcare today.">
        <meta name="Description" content="Bright Horizons Family Solutions offers many solutions from childcare to emergency child and adultcare. The company has a portfolio of over 200 nurseries and preschools in England, Scotland and Ireland. Talk to us about 30 hours funded childcare today.">
        <title>{{ page.Title }}</title>
        <link rel="stylesheet" type="text/css" href="./familyapp/assets/bhbackup-banner.css">
        <link rel="stylesheet" type="text/css" href="./familyapp/assets/layout-sidebar.css">
        <link rel="stylesheet" type="text/css" href="./familyapp/assets/layout-topbar.css">
        <link rel="stylesheet" type="text/css" href="./familyapp/assets/childnotes-main.css">
        <link rel="stylesheet" type="text/css" href="./familyapp/assets/childprofile-page.css">
        <link rel="stylesheet" type="text/css" href="./familyapp/assets/childprofile-header-wrapper.css">
        <link rel="stylesheet" type="text/css" href="./familyapp/assets/newsfeed-fonts.css">
        <link rel="stylesheet" type="text/css" href="./familyapp/assets/newsfeed-scaffold.css">
        <link rel="stylesheet" type="text/css" href="./familyapp/assets/newsfeed-story.css">
        <link rel="stylesheet" type="text/css" href="./familyapp/assets/story-panel-checkin.css">
    </head>
    <body>
        <!-- begin deprecation overlay -->
        <!--
        <div id="deprecationOverlay">
            <div class="updateMessage">
                <h2>Your browser is out-of-date</h2>
                <p>
                    For security reasons we have decided to no longer support this version of your browser. To continue using
                    Famly, we recommend that you install the latest version of one of the following browsers:
                </p>
                <div class="browserSupport">
                    <ul>
                        <li><a href="https://www.google.com/chrome/" target="_blank" rel="noopener noreferrer">
                            <div id="chromeIcon" class="browserIcon"></div>
                            <p>Chrome</p>
                        </a></li>
                        <li><a href="https://www.mozilla.org" target="_blank" rel="noopener noreferrer">
                            <div id="firefoxIcon" class="browserIcon"></div>
                            <p>Firefox</p>
                        </a></li>
                    </ul>
                </div>
                <p>We're sorry for any inconvenience, and thank you for using our service.<br>Get help at support@famly.co</p>
            </div>
        </div>
        -->
        <!-- end deprecation overlay -->
        <div id="webpack-root">
            <div class="application-view">
                <div class="application-root">
                    <div id="printHeader" class="sc-hAYhfR kIZiXC"></div>
                    <div class="account-view newLookPadding menu-hidden" style="">
                        {% render "Liquid\\Layout\\layout-topbar.liquid", page: page %}
