<div class="bhdownload-banner" id="bhdownload-banner">
    <p>
        The contents of this offline website were downloaded using the <strong> FREE</strong> open source <strong><a href="https://github.com/mikeclayton/BHDownload" target="_blank">BHDownload</a></strong> utility.
    </p>
</div>
