<!-- begin deprecation overlay -->
<!--
<div id="deprecationOverlay">
    <div class="updateMessage">
        <h2>Your browser is out-of-date</h2>
        <p>
            For security reasons we have decided to no longer support this version of your browser. To continue using
            Famly, we recommend that you install the latest version of one of the following browsers:
        </p>
        <div class="browserSupport">
            <ul>
                <li><a href="https://www.google.com/chrome/" target="_blank" rel="noopener noreferrer">
                    <div id="chromeIcon" class="browserIcon"></div>
                    <p>Chrome</p>
                </a></li>
                <li><a href="https://www.mozilla.org" target="_blank" rel="noopener noreferrer">
                    <div id="firefoxIcon" class="browserIcon"></div>
                    <p>Firefox</p>
                </a></li>
            </ul>
        </div>
        <p>We're sorry for any inconvenience, and thank you for using our service.<br>Get help at support@famly.co</p>
    </div>
</div>
-->
<!-- end deprecation overlay -->
